[2020-09-01 10:03] pgonzaleznetwork opened #10 "The help text should provide a link to the github readme file"

[2020-09-08 09:02] pgonzaleznetwork opened #20 "Client side async requests should be enclosed in catch/try"
For example, when the server times out

 at=error code=H12 desc="Request timeout" method=GET path="/api/metadata?mdtype=ApexClass" host=sfdc-happy-soup.herokuapp.com request_id=9f2a2f56-cbd2-4ef8-b709-4ac6a84a4ae5 fwd="37.228.244.96" dyno=web.1 connect=1ms service=30003ms status=503 bytes=0 protocol=https

`async function getMetadataMembers`

The above function never finishes properly, and the spi

[2020-10-15 09:28] #10 closed

[2020-10-15 09:28] #20 closed

[2020-10-25 10:22] TheZealousOne opened #54 "Problem while querying Email Templates"

[2020-10-25 18:36] pgonzaleznetwork commented on #54
Hi @TheZealousOne ,

Does this happen consistently? i.e if you try now with the same username/org id do you receive the same error? I have a feeling this occurred during database maintenance

[2020-10-25 19:24] TheZealousOne commented on #54
Hi Pablo,

It is still happening on every attempt with different objects selected.

I am selecting impact analysis. I believe it works if I select deployment
boundary.

‫בתאריך יום א׳, 25 באוק׳ 2020 ב-20:36 מאת ‪Pablo Gonzalez‬‏ <‪
notifications@github.com‬‏>:‬

[2020-10-25 19:31] pgonzaleznetwork commented on #54
Hi @TheZealousOne ,

The issue appears to be while querying the fullname of this template 00X0z0000051cEREAY

Are you able to paste this id in the browser and see the template? is it maybe in a private folder?

[2020-10-25 19:33] pgonzaleznetwork commented on #54
@TheZealousOne You could also go to https://workbench.developerforce.com/restExplorer.php

And replace the URL in the rest explore with the following

/services/data/v48.0/tooling/query/?q=SELECT+FullName+FROM+EmailTemplate+WHERE+Id+IN+('00X0z0000051cEREAY')

Does it throw an error? You can click on "Raw Response" to see if there are errors.

[2020-10-25 19:40] TheZealousOne commented on #54
HTTP/1.1 500 Server Error Date: Sun, 25 Oct 2020 19:39:24 GMT Content-Type:
application/json;charset=UTF-8 Transfer-Encoding: chunked Connection:
keep-alive Strict-Transport-Security: max-age=31536002; includeSubDomains
Public-Key-Pins-Report-Only:
pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY=";
pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
pin-sha256="njN4rRG+22dNXAi+yb8e3

[2020-10-25 19:43] pgonzaleznetwork commented on #54
@TheZealousOne  that appears to be the issue as seen by the error

_Cannot retrieve documents in a user's private folder; move
the document to a named folder_

Unfortunately there's nothing much I can do to bypass this as this is just Salesforce's security mechanism. What I'll do is to better catch this error and somehow let the user know that we are unable to pull the data because of user permiss

[2020-10-25 20:06] TheZealousOne commented on #54
Yes, it appears to be working for other data types.

Thank you.

‫בתאריך יום א׳, 25 באוק׳ 2020 ב-21:43 מאת ‪Pablo Gonzalez‬‏ <‪
notifications@github.com‬‏>:‬

[2020-10-26 14:38] pgonzaleznetwork commented on #54
@TheZealousOne the only reason this is failing is because I'm querying the template full name to see if that name is referenced in custom labels. However I don't need the name to see if the template is used in email alerts.

I'm going to redesign this feature so that even if custom labels cannot be found, you can still see references to the template on email alerts. In other words, for private tem

[2020-10-26 14:42] TheZealousOne commented on #54
Really appreciate your hard work and this amazing tool.

בתאריך יום ב׳, 26 באוק׳ 2020, 16:39, מאת Pablo Gonzalez ‏<
notifications@github.com>:

[2020-10-27 20:14] pgonzaleznetwork commented on #54
Hi @TheZealousOne ,

This is resolved now. For email templates that reside in a user's private folder, we only try to find email alerts or apex classes that use it. The ability to see if an email template name or id is used in custom labels is reserved for public email templates.

Please note that private email alerts can't actually be used in email alerts, so using the "dependency analysis" featu

[2020-10-27 20:17] pgonzaleznetwork commented on #54
@TheZealousOne Also if you are interested in learning about this tool, I invite you to have a look at how I fixed this

https://github.com/pgonzaleznetwork/sfdc-happy-soup/commit/faaf1a36dfe1f9774f1c3d000d971419c5a49b6c

Essentially I wrapped all the functionality related to custom labels in a try/catch block, so that if an error occurs, we catch it and ignore. We then continue with everything els

[2020-10-27 20:23] pgonzaleznetwork opened #58 "Converting circular structure to JSON"
Some visualforce pages throw the following error when we try to calculate the deployment boundary

`["TypeError: Converting circular structure to JSON\n --> starting at object with constructor 'Object'\n | property 'ApexClass' -> object with constructor 'Array'\n | index 0 -> object with constructor 'Object'\n --- property 'references' closes the circle\n at JSON.stringify (<anonymous>)\n at Objec

[2020-10-28 14:55] #58 closed

[2020-10-28 15:00] #54 closed

[2020-11-05 21:24] pgonzaleznetwork opened #65 "Support for workflow rules"
First we need to query the ids of the WorkflowRule Tooling object that match on the TableOrEnumId of the field in question.

We can then calculate their name based on the name field and the tableOrEnumId.

Once we have the full names we can read their contents with the metadata api

[code]

Convert the response to json and extract the contents

[code]

We then go through each json object, and if t

[2020-11-09 13:30] #65 closed

[2020-12-16 09:51] pgonzaleznetwork opened #94 "sObject type 'ApexClass' is not supported"
`398 <190>1 2020-12-16T08:23:30.688766+00:00 app worker.1 - - HAPPY SOUP ERROR: Tooling API call failed {"request":"***.my.salesforce.com/services/data/v48.0/tooling/query/?q=SELECT%20Id%2CName%2CNamespacePrefix%20FROM%20ApexClass","jsonResponse":[{"message":"sObject type 'ApexClass' is not supported.","errorCode":"INVALID_TYPE"}]}`

[2020-12-18 09:59] pgonzaleznetwork opened #95 "Automated job should remove stalled redis keys"
For example

`bull:happy-soup:completed:00D7F0000fafaJUAQ.0057F00000fafAC:usage-00X7F0ffVgqjUAC-EmailTemplate1608274692249`

I would need to make sure this key is really not needed any more. Perhaps look at the created time?

Also the completed stats need to be deleted by a cron job, i.e

[2020-12-18 10:01] pgonzaleznetwork opened #96 "Memory Quota Exceeded"
[code]

https://devcenter.heroku.com/articles/heroku-redis#maxmemory-policy
https://devcenter.heroku.com/articles/metrics#memory-usage
https://devcenter.heroku.com/articles/optimizing-dyno-usage#basic-methodology-for-optimizing-memory

[2021-03-12 07:55] JeffKrakowski opened #104 "How can I check where an email alert is used?"
How can I check where an email alert is used?

[2021-03-12 10:35] pgonzaleznetwork commented on #104
@JeffKrakowski Thanks for the feedback! I believe this metadata type is not supported by the dependency API, but I may be able to build a custom query to find such alerts.

On the other hand, when you are looking at an email alert in the salesforce UI, I think you can see which workflows are using this alert. Is this your use case?

[2021-03-12 10:57] JeffKrakowski commented on #104
I could not find it, b/c it was reference By Process builder (same thing in
a flow)
Very hard to find things in Process builder, so anything you can set up
would be wonderful.

On Fri, Mar 12, 2021 at 12:35 PM Pablo Gonzalez ***@***.***>
wrote:

[2021-03-12 11:06] pgonzaleznetwork commented on #104
Process Builders are indeed very tricky. I'll look into it!

[2021-03-20 14:01] pgonzaleznetwork commented on #104
Hi @JeffKrakowski ,

Email Alerts are now available and you can see if they are being used by Process Builder! See below:

<img width="973" alt="Screenshot 2021-03-20 at 14 00 02" src="https://user-images.githubusercontent.com/8467087/111871935-94cbba80-8984-11eb-9f4b-6cd5d7db3ea7.png">

Enjoy and let me know if you have any questions!

[2021-03-20 14:01] #104 closed

[2021-03-22 22:26] JeffKrakowski commented on #104
A big thank you for this, and helping u as admins shine 🌞

On Sat, Mar 20, 2021, 4:01 PM Pablo Gonzalez ***@***.***>
wrote:

[2021-04-04 15:29] #94 closed

[2021-04-04 15:29] #95 closed

[2021-04-04 15:29] #96 closed

[2021-04-10 13:26] pgonzaleznetwork opened #113 "invalid URLs should redirect to the login page"
i.e `happysoup.io/invalid` should redirect to login

[2021-04-10 13:26] pgonzaleznetwork opened #114 "Invalid url should redirect to login page"
i.e `happysoup.io/invalid` should redirect to login

[2021-04-10 13:26] #113 closed

[2021-05-06 09:44] pgonzaleznetwork opened #126 "Use EntityParticle to get list of field names instead of listMetadata()"
listMetadata() returns the 18 digit id which I need for subsequent queries, but it doesn't return the field label, which is a problem because sometimes the API name is totally different from the label. Ideally in the UI, custom fields would show up as follows

Customer Priority (Customer_Priority__c)

For this, we can use the EntityParticle object instead

`SELECT QualifiedApiName, Label, DataType

[2021-05-08 20:10] sinanbunni opened #127 "RecordType field dependencies"
Hi,
Recently I came through a requirements to search for a custom and standard recordTypeId or recordType.Name dependencies in an org's metadata. Looking at a feature to support it in HappySoup.
Thanks

[2021-05-08 20:20] pgonzaleznetwork commented on #127
Hi @sinanbunni !

Thanks for reaching out. Would this be for a specific record type (i.e Account.Customer_Type) or any reference to recordTypeId?

Also if you could explain more of why you needed this, it'd help me understand the requirement better.

[2021-05-08 20:38] sinanbunni commented on #127
Hi @pgonzaleznetwork,
The org has a number of custom sObjects where each has 5-8 record types. The record types are being used in many OOTB (PBs, Flows, Approval Processes, etc..) and Custom Apex/Aura components code to drive business functionalities. The requirements in hands are to get rid of these record types and some of its associated metadata and re-design the org to meet new objectives.

I

[2021-05-10 08:23] pgonzaleznetwork commented on #127
Thanks for the info. I will look into this!

[2021-05-10 10:13] JeffKrakowski opened #129 "Email template in flow not being found"
I want to see where an email template is used.
I know it is used in a Flow, but it does not show up when I select "where is it used"

[2021-05-10 10:16] pgonzaleznetwork commented on #129
@JeffKrakowski  is the email template directly used in the flow? or is the flow using an email alert? if so, can you try searching where the email alert is used?

[2021-05-10 12:42] pgonzaleznetwork commented on #129
Hi @JeffKrakowski  I'm unable to see the image. Could you please attach it?

[2021-05-10 12:45] JeffKrakowski commented on #129
done

On Mon, May 10, 2021 at 3:43 PM Pablo Gonzalez ***@***.***>
wrote:

[2021-05-10 12:48] pgonzaleznetwork commented on #129
I'm still unable to see it. You would have to log in to Github and attach it from there, as opposed to replying on the email.

[2021-05-12 17:14] mr-freire opened #131 "Check flexipages for dependencies"
We have plenty of components on our Lightning Pages that have record visibility filters, which the tool is not picking up.
![image](https://user-images.githubusercontent.com/55545152/118016692-14925780-b32c-11eb-85fd-a518adaaee24.png)

This is stored as visibility rules on the flexipage metadata files
![image](https://user-images.githubusercontent.com/55545152/118016841-41df0580-b32c-11eb-9512-670

[2021-05-12 17:51] pgonzaleznetwork commented on #131
Thanks for reaching out @mr-freire !! It appears that this dependency is not supported by the MetadataComponentDependency API, but the metadata of the flexipage does reflect the field being used

[code]

So it should be possible to query all the flexipages that belong to the object that the field belongs to, and then query their metadata to see if the field is being used. This will be a performanc

[2021-05-12 20:36] mr-freire commented on #131
@pgonzaleznetwork it varies client to client - but it ranges from 1 - 5 at least on my experience

[2021-05-12 21:19] pgonzaleznetwork commented on #131
Thanks! I'll look at implementing this in the future!

[2021-05-14 02:17] brandonrwind commented on #129
@pgonzaleznetwork I looked into this and the data can be found via the tooling API

Example:
`/services/data/v51.0/tooling/sobjects/Flow/flowId`

Will return the following:
<img width="642" alt="Screen Shot 2021-05-13 at 9 09 22 PM" src="https://user-images.githubusercontent.com/6753707/118210190-bbabe780-b42f-11eb-91a8-5b18c999c499.png">

The 'inputParameters' folder will hold each of the individ

[2021-05-14 07:07] JeffKrakowski commented on #129
Thank you so much for looking into this for me Pablo.
I tried several times to enter the URL for tooling but I keep getting the
same error message
I also am not clear how this will help search among all my flows, it seems
like I need to open each flow and node individually.

https://jinternship.my.salesforce.com/services/data/v51.0/tooling/sobjects/Flow/3003V000000050S
This XML file does not appea

[2021-05-14 08:51] pgonzaleznetwork commented on #129
@JeffKrakowski  that comment wasn't for you, it was from @brandonrwind to me as he's helping me figure out how we can support your use case :) There's nothing for you to do at this stage and you are right, following the above steps is no different from opening each flow one by one.

@brandonrwind This is excellent research, thank you so much! is the apex email action user defined as in, do I have

[2021-05-14 08:54] pgonzaleznetwork commented on #129
@brandonrwind  one more thing, could you please research if we can use this url  `/services/data/v51.0/tooling/sobjects/Flow/flowId` on the Composite Endpoint for the Tooling API?

https://developer.salesforce.com/docs/atlas.en-us.api_tooling.meta/api_tooling/tooling_resources_composite_composite.htm

As per the docs

[code]

So maybe it would be possible to pass this URL multiple times (one per f

[2021-05-14 08:57] pgonzaleznetwork commented on #131
@mr-freire I might support this in the long-term future as it might require some architectural changes. See the discussion on #129 if you are interested in the technical details.

[2021-05-14 16:09] brandonrwind commented on #129
Yes, you have to create an Apex Class with a method annotated with @InvocableMethod in order for it to be visible as an apex action within Flow.

This is correct.

[2021-05-14 16:35] brandonrwind commented on #129
I can confirm this works as you described. You can combine multiple calls as subrequests by sending a POST to the composite endpoint like this:
`/services/data/v51.0/tooling/composite`

and a sample request body like this:
`{
	"allOrNone":false,
    "compositeRequest" : [{
        "method" : "GET",
        "url" : "/services/data/v51.0/tooling/sobjects/Flow/firstFlowId",
        "referenceId" : "r

[2021-05-17 10:59] pgonzaleznetwork commented on #129
We'll implement this feature once support for composite requests is implemented https://github.com/pgonzaleznetwork/sfdc-happy-api/issues/1

[2021-07-01 15:28] pgonzaleznetwork opened #135 "Rollup summary fields"
When doing impact analysis on a custom field, if the field is used by a RLS field, that field should be in the results.

This might be hard to implement because I'd need to scan all the fields of the source object, and see which ones are of type RLS, and then see if a reference to the field is found. Because of long processing times, this should be a topping, not a default setting.

[2021-07-02 12:40] pgonzaleznetwork opened #136 "Impact analysis should include profile and permission sets"
[code]

[2021-07-09 22:13] pacol85 opened #137 "Maybe not a bug"
This may not be a bug but a lot of metadata isn't displayed when using the tool (at least with standard fields). I had the task to find where the Opportunity.Amount field was used on an Org and the only Metadata it showed was Worflow Rules, Workflow Field Update and Validation Rules.
But it left out a lot of formula fields, Flows, Process Builders, list views, fieldsets and layouts. Can't say for

[2021-07-10 12:11] pgonzaleznetwork commented on #137
Hi @pacol85 ,

Thanks for getting in touch! HappySoup.io is based on the MetadataComponentDependency

https://developer.salesforce.com/docs/atlas.en-us.api_tooling.meta/api_tooling/tooling_api_objects_metadatacomponentdependency.htm

This object does NOT support standard fields. So the "where is this used" functionality for standard fields is entirely custom built, which means that unfortunately n

[2021-07-10 12:58] #137 closed

[2021-07-13 19:04] jamienrogers222 commented on #127
Hi @pgonzaleznetwork , I have the same use case as @sinanbunni. My org wants to rename record types. Thus, I need to see if changing the names will have any impact on other config/dev.

[2021-07-14 19:28] jamienrogers222 opened #138 "Email Message Workflow Rules"
Happy Soup did not return results for Email Message workflow rules.

[2021-07-15 09:02] pgonzaleznetwork commented on #138
Hi @jamienrogers222 ,

Can you please expand on the use case here. What metadata type where you doing impact analysis on and what was the expected result?

[2021-07-15 09:15] pgonzaleznetwork commented on #127
Thank you @jamienrogers222 , I still plan to look into this in the future!

[2021-07-15 11:38] jamienrogers222 commented on #138
Hi @pgonzaleznetwork , I was performing an impact analysis on the standard Case Status field (Case.Status). Happy Soup returned workflow rules for the Case object where Case.Status is referenced, but not Email Message workflow rules where Case.Status is referenced.

[2021-07-15 12:15] pgonzaleznetwork commented on #138
@jamienrogers222  how was the Case.Status referenced in the workflow? as part of the criteria using a parent field? A screenshot (if possible) would be great!

[2021-07-15 12:16] pgonzaleznetwork commented on #138
@jamienrogers222 sorry I just re-read your post, it's in the criteria! I'll look into this.

[2021-07-16 14:13] pgonzaleznetwork commented on #138
@jamienrogers222 This feature is now available on HappySoup 2.0 BETA https://happysoup2-beta.herokuapp.com/

Give it a try and let me know if it works!

[2021-07-16 16:03] jamienrogers222 commented on #138
@pgonzaleznetwork it works!!!

[2021-07-16 16:27] pgonzaleznetwork commented on #138
@jamienrogers222 great, thanks for the feedback! Please provide feedback on the new version of the app as well

[2021-07-16 16:27] #138 closed

[2021-07-16 19:43] godfroy316 opened #139 "Could Impact Analysis include Public Groups?"
Ability to see public group sharing usage related to things like list views, report folders, etc would be awesome!

[2021-07-17 08:54] pgonzaleznetwork commented on #139
Hi @godfroy316 ,

Thanks for reaching out! Can you please expand on your use case? List views and report folders are not available in HappySoup at the moment so I'm curious what your scenario is.

Also, to thank you for reaching out, I'm giving you the exclusive link to HappySoup 2.0 BETA https://happysoup2-beta.herokuapp.com/

[2021-07-17 11:23] vikyaiyer opened #140 "UI defect: Donate button on home page overlapped by text"
<img width="1440" alt="Screenshot 2021-07-17 at 4 55 44 PM" src="https://user-images.githubusercontent.com/12629498/126035382-47214591-32a9-4618-afba-6507997655dc.png">

[2021-07-17 12:05] pgonzaleznetwork commented on #140
Thank you @vikyaiyer ! This only happens in small screens i believe. I will fix this in the next version of HappySoup.

For now , if you want to donate, you can use this link https://www.paypal.com/donate/?business=XEWHTYGFC5QEE&item_name=Support+HappySoup.io&currency_code=EUR

[2021-07-17 12:05] #140 closed

[2021-07-28 15:59] Ashrithasfdc opened #148 "Not allowed by CORS at origin"
I am testing happysoup locally using docker and I am seeing a CORS error while selecting the Metadata Type from UI(Localhost:3000). I have checked all the CORS settings in Vue.config.js and app.json, everything seems fine. Not sure what is happening. Please see below for error details.

We are sorry, something went wrong. Please click here to log a Github issue so that we can review the error. Ple

[2021-07-28 18:54] pgonzaleznetwork commented on #148
Hey,

Thanks for reaching out! Your url needs to match exactly what's on the docker-compose.yml file, under the CORS_DOMAIN variable. See an example here

https://github.com/pgonzaleznetwork/sfdc-happy-soup/blob/master/docker-compose.yml

Do they match? If yes and it's still not working, make sure they are EXACTLY the same (**L**ocalhost is not the same as **l**ocalhost)

[2021-07-28 19:20] Ashrithasfdc commented on #148
Hey, Thanks for responding! It is same as in docker-compose.yml file. I am using localhost:3000. Please see attached screenshot.
![url](https://user-images.githubusercontent.com/60669332/127383061-56d996b4-32ae-4ec3-b747-dd5bbf0cc6bd.JPG)

[2021-07-28 19:27] pgonzaleznetwork commented on #148
Can you share a screenshot of your composer file? You can exclude the oauth stuff

[2021-07-28 19:38] Ashrithasfdc commented on #148
Here you go

![image](https://user-images.githubusercontent.com/60669332/127385176-8e4bb4a1-2493-445b-9f8e-c9ee130e8b5e.png)

[2021-07-28 19:47] pgonzaleznetwork commented on #148
That is strange. I haven't tested the local build with docker since I released the new UI with vue. I'll test it out myself and see if I can reproduce the issue.

In the meantime, if you are curious, you could try adding a `console.log(origin)` right here

https://github.com/pgonzaleznetwork/sfdc-happy-soup/blob/5e7752fdda448c38ce67bf9889726baac675c54d/backend/routes/api/router.js#L13

Then run th

[2021-07-28 19:49] #114 closed

[2021-07-28 20:17] Ashrithasfdc commented on #148
I added the port to composer file and ran the app. I am now able to access the metadata. I no longer see CORS error. Thanks!

![image](https://user-images.githubusercontent.com/60669332/127389393-6e4b6ebb-1c35-4748-ac54-52ca8e077476.png)

[2021-07-28 20:23] pgonzaleznetwork commented on #148
That's great! I'll update the template to include the port number for future reference. Thanks for the feedback and enjoy the soup! :)

[2021-07-28 20:26] Ashrithasfdc commented on #148
Thanks for the quick response. I am closing the ticket

[2021-07-28 20:27] #148 closed

[2021-08-03 09:44] Ameensam1 opened #151 "Deployment Boundary Not Working"
The deployment boundary for my specified mdt  (Workflow Email Alert) is not showing

[2021-08-04 16:57] pgonzaleznetwork commented on #151
Thanks for letting me know about this. I was able to reproduce the issue and will investigate further.

[2021-08-09 14:22] jamienrogers222 commented on #139
Hi @pgonzaleznetwork, @godfroy316 is on my team. He's referring to similar functionality of the Where Is It Used button, but on Public Groups. We this idea posted on the ideaexchange - https://trailblazer.salesforce.com/ideaView?id=08730000000BrQjAAK

It would be AMAZING if we could find all the places a Public Group is used using Happy Soup.

[2021-08-09 14:29] jamienrogers222 opened #154 "Impact Analysis for Picklist Values"
It would be great if Happy Soup could perform an impact analysis on picklist values.

For example, my team had to change all "Working" picklist values to "Active". Thus, we had to comb through metadata to find which picklist fields had a value of "Working". This was extremely difficult and time consuming.

[2021-08-09 14:43] pgonzaleznetwork commented on #154
@jamienrogers222 thanks for reaching out! So what type of metadata did you have to go through to see if the value "Working" was being used?

I can think of

- Validation Rules
- Workflow rules/field updates
- Process Builder, flows
etc

Did you use HappySoup at all? it would've given you a baseline metadata to start with. Or was the result set too large and the process of checking which value was

[2021-08-09 14:45] pgonzaleznetwork commented on #139
@jamienrogers222 Thanks for the added info. This is indeed a great idea, I'll look into it!

[2021-08-09 15:15] jamienrogers222 commented on #154
@pgonzaleznetwork , all of that and Apex, Path Settings, Record Types, Support Processes, Lead Processes, Reports, Formula Fields, Lookup Filter, etc.

[2021-08-09 15:23] pgonzaleznetwork commented on #154
@jamienrogers222 I can see how that would've been very time consuming. This might need to be a completely feature on its own and will take time to develop, but it's a great idea and I'll definitely look into this!

[2021-08-09 16:14] jamienrogers222 commented on #154
Thank you!!

On Mon, Aug 9, 2021 at 11:24 AM Pablo Gonzalez ***@***.***>
wrote:

[2021-08-09 19:35] godfroy316 commented on #139
Yes!  Thank you @jamienrogers222 and @pgonzaleznetwork!  Apologies for not following up with this.

[2021-08-11 17:50] Ameensam1 commented on #151
Thanks for picking this up.

[2021-08-16 17:52] MikeS-nth opened #156 "404 when connecting to localhost (docker)"
Hello,

I am trying to run Happy Soup locally using Docker via [these instructions](https://www.youtube.com/watch?v=WQhz91JSl3o).

`npm run dc-build` seems to run successfully; however, when I try to connect via http://localhost:3000, I get the following error:

`{
  "error": true,
  "statusCode": 404,
  "message": "Not Found",
  "stack": "NotFoundError: Not Found\n    at /app/backend/server/app.j

[2021-08-16 22:14] pgonzaleznetwork commented on #156
Hi there,

I think something may have changed since this is a new version of the app.
I'll try to reproduce the issue and get back to you. Can you share a
screenshot nod the error? Is it in the UI?

On Mon 16 Aug 2021, 6:52 p.m. Mike Sanders, ***@***.***>
wrote:

[2021-08-16 23:44] MikeS-nth commented on #156
Sure.  Here are two screenshots:  1) console output from when `npm run dc-build` finishes to when the error occurs; 2) error message in the browser.  The error is not in the UI; it occurs before getting to the UI after launching the application.

<img width="904" alt="image" src="https://user-images.githubusercontent.com/7927110/129642375-f9cb4d4f-31e7-4b8e-adf8-d3e3f66affd9.png">

<img width="977

[2021-08-17 09:29] pgonzaleznetwork commented on #156
@MikeS-nth Thank you very much for reporting this. I've fixed this now.

Please delete your local repository and clone it again, and follow the steps from there. Let me know how it goes

[2021-08-17 13:40] MikeS-nth commented on #156
Thanks very much for responding so quickly!  I deleted the directory, re-cloned from Github, and tried again.  Unfortunately, it is now throwing a different error.  I've attached the console output.  (It looks like the log file was not actually written to ~/.npm/_logs/)
[happy_soup_errors_17Aug2021.txt](https://github.com/pgonzaleznetwork/sfdc-happy-soup/files/7000381/happy_soup_errors_17Aug2021.t

[2021-08-17 14:58] pgonzaleznetwork commented on #156
Can you please join the slack channel so we can talk more real-time? https://join.slack.com/t/happysoupio/shared_invite/zt-oo8d5a1t-A04m7wkK16vwdd5oWtpbZg

[2021-08-17 16:48] pgonzaleznetwork commented on #156
Fixed by removing unnecessary lines from the docker file. Enjoy the app!

[2021-08-17 16:48] #156 closed

[2021-08-18 20:28] marioessig opened #157 "Account.ShippingAddress & Account.BillingAddress not listed?"
I would like to be able to query against **Account.ShippingAddress** as well as **Account.BillingAddress** to see where they are being used.

![image](https://user-images.githubusercontent.com/33463458/129967715-034f35b3-0d5f-46f6-91a5-8c2c95cfb291.png)

[2021-08-18 20:35] pgonzaleznetwork commented on #157
Thanks for reaching out! I'll add these fields and it'll be ready tomorrow. I'll let you know!

[2021-08-18 20:58] marioessig commented on #127
I am in favor of this one as well as I have come into a company that changed through several administrators with their own approaches. I would like to use this feature to do some cleaning up.

[2021-08-19 02:25] marioessig commented on #157
Looking forward to it!

[2021-08-19 08:27] pgonzaleznetwork commented on #157
@marioessig I've added all the address fields documented on this page https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/compound_fields_address.htm

Please note that the Address field is a compound field, so for example, if an Account has the BillingCity populated, the BillingAddress will reflect that city as well, but BillingAddress will not be returned as being used in apex/validati

[2021-08-19 08:27] #157 closed

[2021-08-19 14:31] marioessig commented on #157
Yes, it makes sense with the Address field being a compound field. That is fine.

Unfortunately, these fields you added seem not to be working...
![image](https://user-images.githubusercontent.com/33463458/130087027-b5934d13-23b0-4581-a6f0-a71bce68bf9f.png)

[2021-08-19 16:54] pgonzaleznetwork commented on #157
I must've done something wrong there. I'll investigate and get back to you!

Pablo

On Thu, 19 Aug 2021 at 15:31, ME ***@***.***> wrote:

[2021-08-20 07:41] pgonzaleznetwork commented on #157
@marioessig  Can you please try again?

[2021-08-23 00:36] zerkz commented on #139
From my surface level research, it doesn't look like the Metadata dependency API supports this yet. But you might be able to gleam usages by doing the following:

- Querying share records for that group ID
- Simple file search across your git repositories holding your metadata.

[2021-08-23 08:33] pgonzaleznetwork commented on #139
Thank you @zerkz ! I suspected this wasn't available via the dependency API as support is generally limited. You are right, I would have to query records for that public group, and also the SharingRule object to show specific rules https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_sharingrules.htm

[2021-09-01 15:13] SFJetter opened #164 "Master Detail Relationship Dependencies"
It seems that Master-Detail relationships between custom objects are not considered when returning dependency information for a custom object.  Have I got that right, or perhaps could it be supported in the project but is not yet supported on the HappySoup.io site?

[2021-09-01 18:49] pgonzaleznetwork commented on #164
Hi @SFJetter , thanks for reaching out! If I understand correctly, you are saying that when we use the "where is this used" for a custom object, any lookup fields on other objects should show up as "using" that object, is that correct? If so, this use case is not supported yet, simply because I didn't think about it! But I can definitely work on that

[2021-09-07 22:55] katie-silorio-gc opened #165 "Flow utilization in buttons not captures"
I have flows that are utilized in buttons and subsequently page layouts. This utilization is not captured by the impact analysis feature.

![Screenshot 2021-09-07 155232](https://user-images.githubusercontent.com/86748793/132420607-835d99a6-1803-46be-af9d-94e14e9ef86d.jpg)
![Screenshot 2021-09-07 155447](https://user-images.githubusercontent.com/86748793/132420611-d6a40ebb-874c-4602-ae70-6fd238508

[2021-09-08 07:38] pgonzaleznetwork commented on #165
Hi @katie-silorio-gc ,

Thanks for reaching out! This could be one of those dependencies that the Salesforce API does not support, but I may be able to pull it using other methods.

I will definitely look into this and get back to you.

[2021-09-08 15:42] katie-silorio-gc commented on #165
Thank you!

[2021-09-08 19:53] SFJetter commented on #164
You've got it exactly right.  This feature will help us migrate schema from one Production org to another by allowing us to more easily discover these dependencies.

[2021-09-09 06:49] CloudJedi opened #166 "Autolaunched Flows Referenced in Process Builder"
I'm not sure if this is something that isn't supported but I tried using it to search for a Flow that I know is referenced in Process Builder. It wasn't able to identify it and I got the following message.

_Unable to find any metadata items that use or reference the Flow FLOW_NAME_HERE. This either means that the Flow is not being used at all or that it is used by metadata types that are not yet

[2021-09-09 07:09] pgonzaleznetwork commented on #166
Hi @CloudJedi , thanks for reaching out! Unfortunately the support for flows is very limited due to limitations on the Salesforce API. In fact, it's so limited and I get many questions about it that I'm considering removing it altogether until I can provide better support for it. I'll think about this more...thanks!

[2021-09-09 07:32] CloudJedi commented on #166
Okay no worries! Thanks for the quick response!

[2021-09-11 10:22] Ameensam1 commented on #166
Hi @pgonzaleznetwork,

Don't you dare touch that little support you have for flows. Kidding! actually please leave it alone. For what it does, it is still a lot helpful.

[2021-09-27 08:18] LokyGitH opened #167 "Standard Fields on Account Contact Relationship does not have access"

[2021-09-27 08:19] LokyGitH commented on #167
Hi,

I could not see any Standard fields on ACR object to check Where it is Used ? Please guide me here.

[2021-09-28 07:21] #167 closed

[2021-10-04 21:51] pgonzaleznetwork commented on #165
@katie-silorio-gc  I've deployed this now, please test it out. If you are happy, I'd appreciate a share on this post to let other users know that their requests will be considered!

[2021-10-04 21:58] pgonzaleznetwork commented on #165
@katie-silorio-gc Also, this works specifically for quick actions of type flow, not buttons using the flow URL. What was your use case?

[2021-10-05 23:54] pgonzaleznetwork commented on #166
@CloudJedi  This feature is now live! Can you please give it a try? You should be able to find references to a flow in both process builders and flows. Let me know!

[2021-10-06 03:09] pgonzaleznetwork commented on #165
I've enabled this for url buttons as well. It'll go live soon.

[2021-10-06 03:09] #165 closed

[2021-10-06 03:11] pgonzaleznetwork commented on #154
@jamienrogers222 I think the best solution here is to download the whole metadata of the org in vscode and then do a simple text search for the picklist value. This is way faster, more efficient and accurate than anything I could put together. Thanks for the feedback!

[2021-10-06 03:11] #154 closed

[2021-10-06 03:15] #126 closed

[2021-10-09 21:16] pgonzaleznetwork opened #168 "Add record triggered flows as dependencies to objects"
https://help.salesforce.com/s/articleView?id=release-notes.rn_automate_flow_mgmt_triggered_flows_list_view.htm&type=5&release=234

[2021-10-09 21:16] #166 closed

[2021-11-12 17:06] rjpletsch opened #169 "Possible to add Opportunity Contact Role field"
We're using opportunity contact roles a lot and I've been alerted that it seems the Role field is automatically changing from whatever the user sets to Decision Maker on all those added.  I don't see any flows, workflows, or process builders which affect it so I'm at a loss.

Note: I'm newer with the company and we just merged two orgs together so that's really why I have no idea what could be aff

[2021-11-12 19:35] pgonzaleznetwork commented on #169
Hi @rjpletsch ,

This object (and its fields) is not supported yet. However, I just joined a new company that has a free offering (actually free, not a trial) for visualising you org's metadata in a very cool format, and this allows for some impact analysis on standard fields. I just tried it in my org and the OpportunityContactRole.Role field is available

You can get the free tier here: app.salt

[2021-11-20 20:36] pgonzaleznetwork commented on #169
@rjpletsch Did you get a chance to try the free tier? Let me know if I can help.

[2021-12-07 16:07] bussemac opened #170 "Add Product2.Description"
Was just looking to see where we were using this, doesn't seem like it's supported by Happy Soup yet. Can this be added?

[2021-12-10 15:11] pgonzaleznetwork commented on #170
Hi @bussemac !!

Thanks for reaching out. I just added this and other product2 fields

![Screenshot 2021-12-10 at 15 08 45](https://user-images.githubusercontent.com/8467087/145596228-ba515167-52a2-4a6a-9f12-af438d07a15a.png)

Please remember that support for standard fields is limited so it's not guaranteed that you'll find all their dependencies. Let me know if I can do anything else!

[2021-12-10 15:11] #170 closed

[2021-12-14 08:41] kulkarom opened #171 "Unable to find the field dependency of account.type"
We are sorry, something went wrong. Please click here to log a Github issue so that we can review the error. Please include the following details: job stalled more than allowable limit

Error: Missing lock for job 00D3M0000008mntUAA.0053M000000VDVFQA4:usage-Account.Type-StandardField1639470643103 finished at Object.finishedErrors (/app/node_modules/bull/lib/scripts.js:185:16) at /app/node_modules/

[2021-12-14 19:29] pgonzaleznetwork commented on #171
Thank you @kulkarom for reporting this! That looks like a transient error, is this still happening? Did you try again?

[2021-12-23 11:31] bendsito opened #172 "Order.Status field not showing up"
Using the **Impact Analysis** tool, filtering by _Standard Fields_, when I type "Status" it only suggests the fields _Case.Status_ and _Lead. Status_, but _Order.Status_ is missing. The logged in user has access to this field. Am I doing something wrong?

[2021-12-23 15:28] pgonzaleznetwork commented on #172
Hi @bendsito ,

This field is not yet available but I can add it for you quickly. Are there any order standard fields i should add?

[2021-12-23 15:38] bendsito commented on #172
Hi @pgonzaleznetwork,

That would be wonderful and very much appreciated 😃

I can't think of any other fields right now. The tool works great and has been very helpful for me. Thanks a lot!

[2021-12-25 14:09] #171 closed

[2021-12-25 14:09] #169 closed

[2021-12-25 14:10] #168 closed

[2021-12-27 18:43] mr-freire commented on #172
@pgonzaleznetwork Would it be possible to also add Campaign.Type? Do you want me to create a new issue?

[2021-12-27 18:56] pgonzaleznetwork commented on #172
Hi @bendsito @mr-freire

I just added this and a few other standard fields from the Order and Campaign type objects. I don't know how I didn't think about these initially! Thank you for the feedback and do let me know if it's not working!

[2021-12-27 18:56] #172 closed

[2021-12-27 20:20] pgonzaleznetwork commented on #131
Hi @mr-freire ,

Sorry this took so long, but I'm happy to report that you can now see if a custom field (not standard fields) are used in FlexiPages. Thank you for the idea and enjoy!

[2021-12-27 20:20] #131 closed

[2021-12-29 16:58] taotanic opened #173 "Add case.contactPhone and opportunity.leadSource as standard fields"
for happy soup can you add case.contactPhone and opportunity.leadSource as standard fields that can be used ? they don't pull up today. thanks!

[2021-12-29 19:03] pgonzaleznetwork commented on #173
Hi @taotanic ,

Thanks for reaching out! I've added these fields, enjoy!

[2021-12-29 19:03] #173 closed

[2021-12-30 01:02] taotanic commented on #173
Thank you!

On Wed, Dec 29, 2021 at 1:04 PM Pablo Gonzalez ***@***.***>
wrote:

--
*Thao Pham *

[2022-01-06 15:58] Fusedgutz opened #174 "No support for the standard field Account.type?"
Unable to find any metadata items that use or reference the StandardField Account.Type. This either means that the StandardField is not being used at all or that it is used by metadata types that are not yet supported by HappySoup.If you think this is the case please log a  Github issue here

[2022-01-08 20:59] pgonzaleznetwork commented on #174
Thank you @Fusedgutz for reaching out! Do you know where the field is being used? That'll help me understand which dependencies are missing from the app.

[2022-01-12 15:13] Fusedgutz commented on #174
@pgonzaleznetwork It's just the standard _Type_ field (picklist) on the Account object.

[2022-01-19 01:02] NF-Stew opened #175 "Order Product Not Available"
Hello!

I am looking to see where a standard field (End Date) on the Order Product (OrderItem) is used in my org. This does not appear to be an object that is currently supported and am kindly requesting that it be added.

Thank you!

[2022-01-19 12:45] pgonzaleznetwork commented on #175
Hi @NF-Stew !

Thanks for reaching out. I've added 3 fields for this object

https://github.com/pgonzaleznetwork/sfdc-happy-soup/commit/3239b92094b9ade7728f6bdd3648e64a63c6690b

Let me know if I should add more.

Please note that impact analysis for standard fields is a "best effort" feature, and not guaranteed to return everything.

[2022-01-19 12:45] #175 closed

[2022-01-19 12:48] pgonzaleznetwork commented on #174
@Fusedgutz I understand. What I'm saying is: The message is stating that no dependencies were found, and that either means that the field is not being used, or the app is missing some places where the field IS actually used. So I'm asking if you discovered through some other means, where the field is being used. This would help me figure out why the app did not find those dependencies and I can th

[2022-01-24 18:57] mr-freire opened #177 "Campaign Description not available on Standard Fields"
Would it be possible to add Campaign.Description to the Standard field set for Impact Analysis?

For future reference, would you prefer if I log an issue, or if I create a PR to add a standard field?

[2022-01-24 19:28] pgonzaleznetwork commented on #177
@mr-freire I would love it if you could submit a PR and for additional standard fields, it's incredibly easy.

All you need to do is add the field's API name on the corresponding object map. See here a previous commit where I added some campaign fields

https://github.com/pgonzaleznetwork/sfdc-happy-soup/commit/da5976283d1c04d75e31023514dd548eb5923862

So you just have to add `Description` to the

[2022-03-16 13:55] jamienrogers222 opened #184 "Service Appointment Standard Fields"
Hi Pablo,

I'm trying to perform impact analysis on Service Appointment standard fields, specifically Account. However, when I search "Account" (Impact Analysis>Standard Fields) only Account object fields return. When I search "Service Appointment", "ServiceAppointment", "Service_Appointment", or "ServiceAppointment.Account" no results return. Are there only certain Standard Objects the Standard F

[2022-03-18 20:02] melanie-miller commented on #174
Hi @pgonzaleznetwork, I might be able to help with this - I am running into the same issue as Fusedgutz, only with Opportunity Type (the standard field). The impact analysis is correctly showing that it's being used in a workflow rule, validation rule, apex trigger, and email template... but it missed the process builder that it's used in. (an update records action, to be specific) Thanks!

[2022-03-24 17:02] pgonzaleznetwork commented on #174
@melanie-miller thanks for your feedback! Indeed, finding dependencies in process builder is quite tricky! I will look into this...

[2022-03-28 08:46] Sommish opened #185 "Unable to use https://happysoup.io/usage"
![image](https://user-images.githubusercontent.com/102514364/160360935-15d73920-5c61-42a9-af8b-5e7b1a37c3ab.png)

[2022-03-28 15:54] pgonzaleznetwork commented on #185
Hi @Sommish ,

Are you a Salesforce Admin in your org?

[2022-03-29 05:11] Sommish commented on #185
Yes

On Mon, Mar 28, 2022 at 9:24 PM Pablo Gonzalez ***@***.***>
wrote:

[2022-03-29 07:25] pgonzaleznetwork commented on #185
You would only get that error if you don't have admin permissions. Are you 100% sure you are a full salesforce admin in your org, with the standard admin profile?

[2022-04-20 14:23] tdean787 opened #190 "ERR Error running script"
Received this error when searching for an Opportunity custom field.

ERR Error running script (call to f_8f55ae4a3be429c6d38c5d5db3e80edf89197b64): @user_script:41: @user_script: 41: -OOM command not allowed when used memory > 'maxmemory'.
ReplyError: ERR Error running script (call to f_8f55ae4a3be429c6d38c5d5db3e80edf89197b64): @user_script:41: @user_script: 41: -OOM command not allowed when used

[2022-04-25 12:15] #185 closed

[2022-04-25 12:16] pgonzaleznetwork commented on #190
Sorry about that. I've fixed this now, can you please try again?

[2022-04-26 14:21] disco76 opened #191 "Task.Type Standard Field Unavailable"
Please add support for standard **Task.Type** field, thanks!

[2022-04-27 13:38] pgonzaleznetwork commented on #191
Hi there,

Please use Salto's free tier for this

https://www.linkedin.com/posts/pablo-gonzalez-13a4b956_where-is-this-used-is-missing-on-standard-activity-6925060320965095424-dlhG?utm_source=linkedin_share&utm_medium=member_desktop_web

[2022-04-27 13:38] #191 closed

[2022-08-16 15:16] tdean787 opened #204 "Impact Analysis Tab Redirect"
Each time I make a selection in the metadata type dropdown of https://happysoup.io/usage, I get redirected back to https://happysoup.io/workflows

Not sure if this is a known issue, but it does prevent me from using the impact analysis tool at all at the moment.

[2022-08-16 16:11] pgonzaleznetwork commented on #204
Fixed! Thanks for letting me know!

[2022-08-16 16:11] #204 closed

[2022-09-11 17:54] JeffKrakowski commented on #104
Thank you for HappySoup

I am sometimes asked where an org-wide email is used
Is this possible via happy soup?
Looking forward to hearing from you
YK

On Tue, Mar 23, 2021 at 12:26 AM Yehoshua {Jeff} Krakowski <
***@***.***> wrote:

[2022-09-12 07:10] JeffKrakowski opened #208 "Find email template via subject"
Generally an email template is known by the subject.
How can the subject be used to find the template?

[2022-09-12 07:12] JeffKrakowski opened #209 "How to find where an org wide email address is used"

[2022-09-12 09:19] pgonzaleznetwork commented on #209
Hi Jeff,

This needs full text search, something that HappySoup does not support. I work at Salto and we have been filling some of these gaps with our 100% free app for impact analysis, here's a demo of exactly what you are looking for

https://youtu.be/fReJPzBOYdo

[2022-09-12 09:19] pgonzaleznetwork commented on #208
Hi Jeff,

This needs full text search, something that HappySoup does not support. I work at Salto and we have been filling some of these gaps with our 100% free app for impact analysis, here's a demo of exactly what you are looking for

https://youtu.be/fReJPzBOYdo

[2022-09-30 08:47] phiff opened #211 "Support for check in ApexClasses and Report Types in Impact Analysis"
Hi
When checking 'Where is this used' for a custom field it would be great if it could detect if the field is used in Report Types and Apex Classes.
Thanks

[2022-09-30 15:58] pgonzaleznetwork commented on #211
Hi @phiff ,

This should work for apex classes already. Is it not working for you?

Report Types is not supported, for that, you can use Salto's free tier

https://www.youtube.com/watch?v=-UteZbGxux0&ab_channel=Salto

But first, you'll have to configure your environment to include report types

https://www.youtube.com/watch?v=5NqKJJcfA0s&list=PLw8aI-Qt_Esbxm0b83isGQram3jZQW6vI&index=7&t=2s&ab_chan

[2022-09-30 15:58] #211 closed

[2022-09-30 16:11] phiff commented on #211
Hi

Sorry - my bad 😊
It turned out, that the org where I tested with HappySoup.io the field was
not referenced in an Apex Class, but I was in the org where I id did the
comparison.

*Med venlig hilsen*
------------------------------
*Allan Pheiffer*

*Mobil: +45 25270312*

Den fre. 30. sep. 2022 kl. 17.59 skrev Pablo Gonzalez <
***@***.***>:

[2022-09-30 16:12] pgonzaleznetwork commented on #211
No worries, still, try Salto's free tier!

[2022-10-11 08:39] JeffKrakowski commented on #104
How can I find an email template based on the the email subject line?

[2022-11-02 17:00] sfdc-nerd opened #212 "AccountSource"
I see the standard source field on Leads, Contacts, and Opportunities, but not on Accounts. What gives?

[2022-11-02 17:26] pgonzaleznetwork commented on #212
@sfdc-nerd Please use Salto for standard fields https://www.youtube.com/watch?v=JWinaJxFqyQ&ab_channel=Salto

app.salto.io

[2022-11-02 17:26] #212 closed

[2022-11-21 07:42] itaishmida opened #214 "Fail to connect to my Salesforce org without IP"
I am trying to login to https://www.happysoup.io/
I always get this error:
`We were unable to log into your salesforce org. Try clearing the cache and cookies, using another browser or another org.
I am trying to connect to many different sandboxes of mine - all give same results
I have seen on my user that the IP address is blocked: 44.195.38.159
I have added this IP now all is good ;o)
maybe thi

[2022-11-21 07:52] itaishmida commented on #214
After login in I tried to get some metadata (any metadata gave the same results) and I got this error:
`We are sorry, something went wrong. Please click [here](https://github.com/pgonzaleznetwork/sfdc-happy-soup/issues/new) to log a Github issue so that we can review the error. Please include the following details: INVALID_SESSION_ID: Invalid Session ID found in SessionHeader: Illegal Session

Err

[2022-11-23 16:27] pgonzaleznetwork commented on #214
Thank you @itaishmida !

This is indeed because of the configuration of IP restrictions in your org, so the behavior was expected.

Of course, I could have returned a better error message for this, so I'll do that in the future.

`Failed SOAP response while calling listMetadata() on metadata API {"fetchOptions":{"method":"POST","headers":{"Content-Type":"text/xml;charset=UTF-8","SOAPAction":"c","A

[2022-11-24 06:25] itaishmida commented on #214
Thanks @pgonzaleznetwork
Maybe just a few words on the docs would be enough